@model EgiantsWebsite.ViewModels.ServicesApplicationViewModel
@{
    ViewBag.Title = "All Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="form-group">
    <table class="table table-bordered table-responsive table-striped">
        <thead>
            <tr>
                <th>Email</th>
                <th>Contact Number</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contact in Model.ContactsList)
            {
                <tr>
                    <td>@Html.DisplayFor(model => contact.Email)</td>
                    <td>@Html.DisplayFor(model => contact.ContactNumber)</td>
                    <td>@Html.DisplayFor(model => contact.Message)</td>
                </tr>
            }
        </tbody>
    </table>
</div>